/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#index-banner{
  background-image: url("/Users/thomasjameson/Desktop/newthing/img/hero.jpg");
  background-size: 100% 100%
  margin-top:0px;
  padding-top:45px;
  border-top: 0px
}
/*body{
  background-image: image('url:/Users/thomasjameson/Desktop/newthing/img/hero.jpg');*/
}
/*#encapsulatingDiv{
display: inline-block;
float: right;
float:left
}*/
#card{
display: inline-block;
width: 250px;
background-image: url("/Users/thomasjameson/Desktop/newthing/img/hero.jpg")
}
